@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 182 100% 95%;
    --foreground: 182 5% 0%;
    --card: 182 50% 90%;
    --card-foreground: 182 5% 10%;
    --popover: 182 100% 95%;
    --popover-foreground: 182 100% 0%;
    --primary: 182 63.3% 31%;
    --primary-foreground: 0 0% 100%;
    --secondary: 182 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 144 30% 85%;
    --muted-foreground: 182 5% 35%;
    --accent: 144 30% 80%;
    --accent-foreground: 182 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 182 5% 90%;
    --border: 182 30% 50%;
    --input: 182 30% 18%;
    --ring: 182 63.3% 31%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 182 50% 5%;
    --foreground: 182 5% 90%;
    --card: 182 50% 0%;
    --card-foreground: 182 5% 90%;
    --popover: 182 50% 5%;
    --popover-foreground: 182 5% 90%;
    --primary: 182 63.3% 31%;
    --primary-foreground: 0 0% 100%;
    --secondary: 182 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 144 30% 15%;
    --muted-foreground: 182 5% 60%;
    --accent: 144 30% 15%;
    --accent-foreground: 182 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 182 5% 90%;
    --border: 182 30% 18%;
    --input: 182 30% 18%;
    --ring: 182 63.3% 31%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
